NODE_ENV=development
PORT=4000

DB_HOST=localhost
DB_PORT=3306
DB_NAME=inventory_db
DB_USER=root
DB_PASSWORD=secret

JWT_SECRET=cambia_este_secreto_en_produccion
JWT_EXPIRES_IN=7d

CORS_ORIGIN=http://localhost:5173
